/* Base */

body {
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

/* Grid */

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.row--flex {
  display: flex;
  flex-wrap: wrap;
}

.row::before,
.row::after {
  content: '';
  display: table;
}

.row::after {
  clear: both;
}

[class^="col-"] {
  padding: 0 15px;
  float: left;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

/* Components */

.panel {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* Layout */

body {
  margin: 50px 0 100px;
}
